@import './variables';
@import './custom_bs.scss';

.App {
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
}

pre{
  background-color: $bs-dark;
  color: 'white'; 
}

.pre-container{
  display: flex;
  justify-content: center;
  margin: auto
}

.page{
  margin-top: 20px;
}

// Layouts
@import './Layouts/layouts.scss';

// Login
@import './Auth/login.scss';

// Dashboard
@import './Components/Dashboard/dashboard.scss';

// User Profile
@import './Components/UserProfile/user_profile.scss';

// Visualizations
@import './Components/Visualizations/visualizations.scss';
