.layout-container{
  min-height: 500px;
  padding-top: 85px;
  text-align: left;
}

.layout-navbar{
  .navbar-brand{
    display: flex;
    align-items: center;
    .navbar-nycc-brand{
      max-height: 50px;
      margin-right: 10px;
    }
    h4{
      position: relative;
      top: 3px;
    }
    
  }

  .icon, h6{
    color: $nycc-blue;
    &:hover{
      color: black;
    }
  }

  .profile-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 5px;
    width: fit-content;
    .profile-icon{
      font-size: 25px;
    }
    h6{
      font-size: 12px;
    }
  }

  

  .logout-link{
    display: flex;
    align-items: center;
    font-size: 30px;
    width: fit-content;
    .log-out-icon{
      margin-left: 5px;
    }
  }
}

