.layout-container{
  min-height: 500px;
  padding-top: 85px;
}

.layout-navbar{
  .navbar-brand{
    display: flex;
    align-items: center;
    .navbar-nycc-brand{
      max-height: 50px;
      margin-right: 10px;
    }
    h4{
      position: relative;
      top: 3px;
    }
    
  }

  .icon, h6{
    color: $nycc-blue;
    &:hover{
      color: black;
    }
  }

  .profile-icon{
    font-size: 30px;
  }

  .logout-link{
    display: flex;
    align-items: center;
    font-size: 30px;
    h6{
      position: relative;
      top: 3px;
    }
    .log-out-icon{
      margin-left: 5px;
    }
  }
}

