.login-page{
  text-align: center;
}
.login-form-container{
  max-width: 300px;
  margin: auto;
  margin-top: 20px;
  .login-form{
    text-align: left;
    button{
      background-color: $nycc-blue;
      border-color: $nycc-blue;
    }
  }
}